* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  cursor: default;
}

button {
  outline: none;
  border: none;
  background: none;
}

body {
  background: #1e1e1e;
  min-width: 320px;
  height: 100svh;
  display: flex;
  align-items: center;
  padding: 15px;
}

.container {
  max-width: 440px;
  max-height: 900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 15px 90px;
  background: #000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  gap: 90px;
}

.songs_btn {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  transition: 0.3s;
}

.songs_btn svg path {
  width: 24px;
  height: 24px;
  fill: #fff;
  stroke: #fff;
  transition: 0.3s;
}

.songs_btn.active svg path {
  fill: #25a45c;
  stroke: #25a45c;
}

.songs_btn.active {
  color: #25a45c;
}

.favorites_btn {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  transition: 0.3s;
}

.favorites_btn svg path {
  width: 24px;
  height: 24px;
  fill: #fff;
  stroke: #fff;
  transition: 0.3s;
}

.favorites_btn.active {
  color: #9542b8;
}

.favorites_btn.active svg path {
  fill: #9542b8;
  stroke: #9542b8;
}

.list_song_btn {
  align-self: self-start;
  margin-top: 20px;
}

.list_song_btn svg path {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.list_song_btn.active svg path {
  fill: #c52c2c;
  stroke: #c52c2c;
}

.list_wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  background: #161616;
  border-radius: 20px;
  overflow: hidden;
}

.list_song {
  display: flex;
  justify-content: space-between;
}

.list_song-info {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 360px;
  width: 100%;
  padding-right: 20px;
}

.list_song-img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.list_song-info_text {
  display: flex;
  flex-direction: column;
}

.list_song-info_title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.list_song-info_author {
  color: #c7c7c7;
  font-size: 14px;
  font-weight: 400;
}

.list_songs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 50px;
  overflow: scroll;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: 0.3s;
}

.list_favorites {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 420px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 50px;
  overflow: scroll;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: 0.3s;
}

.list_songs::-webkit-scrollbar,
.list_favorites::-webkit-scrollbar {
  display: none;
}

.miniplayer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  z-index: 2;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff0f;
  backdrop-filter: blur(20px);
}

.miniplayer_info {
  max-width: 330px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 3;
  padding-right: 20px;
}

.miniplayer_img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.miniplayer_info_text {
  display: flex;
  flex-direction: column;
}

.miniplayer_info_title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.miniplayer_info_author {
  color: #c7c7c7;
  font-size: 14px;
  font-weight: 400;
}

.miniplayer_btn {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  flex-shrink: 0;
}

.miniplayer_play_btn {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 18px;
  height: 18px;
  display: none;
}

.miniplayer_play_btn.active {
  display: block;
}

.miniplayer_pause_btn {
  width: 24px;
  height: 24px;
  display: none;
}

.miniplayer_pause_btn.active {
  display: block;
}

.player {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: -900px;
  left: 0;
  padding: 20px 30px 100px;
  background: #000;
  z-index: 3;
  transition: 0.3s;
}

.player_header {
  width: 100%;
  display: flex;
  align-items: center;
}

.player_header_btn {
  width: 24px;
  height: 24px;
}

.player_header-title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-right: 24px;
}

.player_info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.player_info-text {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.player_info-title {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.player_info-author {
  font-size: 16px;
  font-weight: 400;
  color: #c7c7c7;
}

.player_img {
  width: 320px;
  height: 320px;
  border-radius: 30px;
}

.player_controls {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player_time {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.player_current-time {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.player_total-time {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

#progress {
  height: 5px;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  background: #5e5a5a;
  border-radius: 2px;
  background: #5e5a5a;
  outline: none;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #25a45c;
  border-radius: 50%;
  cursor: pointer;
}

#progress::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #25a45c;
  border-radius: 50%;
  cursor: pointer;
}

.player_controls-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #161616;
}

.next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #161616;
}

.control {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
}

.control_play_btn {
  position: absolute;
  top: 21px;
  left: 23px;
  width: 28px;
  height: 28px;
  display: none;
}

.control_play_btn.active {
  display: block;
}

.control_pause_btn {
  width: 30px;
  height: 30px;
  display: none;
}

.control_pause_btn.active {
  display: block;
}

.random svg path {
  fill: #fff;
}

.random.active svg path {
  fill: #25a45c;
}

.repeat svg path {
  fill: #fff;
}

.repeat.active svg path {
  fill: #25a45c;
}

@media (max-width: 470px) {
  body {
    padding: 0;
    background: #000;
  }
  .player_controls {
  width: 100%;
}
}

@media (max-height: 900px) {
  .player {
    padding: 20px 30px 40px;
  }
  body{
    background: #000;
  }
}
